<body>
    <div class="container-fluid">
      <div class="row justify-content-center align-items-top" style="height: 100vh">
        <div class="col-md-6">
          <br/>
          <form action="/login" method="post">
            <div class="mb-3">
              <label for="library-card" class="form-label">Library Card Number</label>
              <input type="text" class="form-control" id="libraryCard" name="libraryCard" placeholder="Enter your library card number" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"></script>
  </body>
